* {
    box-sizing: border-box;
}

:root {
    --primary-color:#1c8591;
  }

#head{
    display: flex;
    flex-direction:row ;
    justify-content: space-between; 
    padding: 20px 50px;
}

#head p {
    color: var(--primary-color);
    margin: 5px 0 20px;
    font-size: 1.5rem;   
    font-weight: bold;   
}

.main-page{
    text-align: center;
    padding: 40px 50px;
}
    
.main-page p{
    font-size: 18px;
    color: var(--primary-color);
    font-weight: bold;    
}

.btn{
outline: none;
border: none;
display: inline-block;
padding: 10px 15px;
background: var(--primary-color);
font-size: 1.1rem;
border-radius: 12px;
position: relative;
top: -3px;
box-shadow: 0 3px gray;
margin-top: 20px;
cursor: pointer;
}

.questions{
    padding: 20px 40px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 380px;
}

.questions p{
    font-size: 25px;
    color: var(--primary-color);
    font-weight: bold; 
    width: 75%;
}

.btnq{
    outline: none;
    border: none;
    width: 30%;
    padding: 10px 15px;
    background: var(--primary-color);
    font-size: 1.1rem;
    border-radius: 12px;
    top: -3px;
    box-shadow: 0 3px gray;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
}

.border{
    padding: 10px;
    border-top:2px solid rgb(193, 193, 206);
    width: 70%;
}

.result{
    padding: 20px 40px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 380px;
}

#result p{
    font-size: 25px;
    color: rgb(193, 193, 206);
    font-weight: bold; 
    width: 75%;
}


.btnq{
    outline: none;
    border: none;
    width: 30%;
    padding: 10px 15px;
    background: var(--primary-color);
    font-size: 1.1rem;
    border-radius: 12px;
    top: -3px;
    box-shadow: 0 3px gray;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
}
    
#submit-form{
        padding : 50px 50px;
        margin-left: 380px;
        font-size: 25px;
        color: var(--primary-color);
        font-weight: bold; 
}


.load-scores{
    padding: 100px 50px;
    margin-left: 400px;
    color: var(--primary-color);
}

.high{
    padding-left: 15px;
}

.list-item{
    font-size: 20px;
    color: var(--primary-color);
    width: 40%;
}

.hscores-btn{
    width : 22%;
    margin :10px 10px;
}

#viewscore{
    cursor: pointer;
}